:root {
    --main-gradient: linear-gradient(45deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));

}

* {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 0.1px solid rgb(133, 133, 133);
}

a {
    text-decoration: none;
}

#logo-span {
    background: var(--main-gradient);
    background-clip: text;
    color: transparent
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    background-color: #1A0B2E;
    
    
}

.btn {
    background: var(--main-gradient);
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

li {
    display: inline;
    margin: 0 15px;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 16px;

}

.hero-section{
    width: 100%;
    height: 90dvh;
    object-fit: cover;
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.hero-img {
    width: 21.6vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hero-img {
    width: 100%;
}

.hero-img2 {
    width: 8vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1; 
}

#hero-img2 {
    width: 100%;
}


.hero-text{
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    z-index: 1;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 3vh;
}

.hero-btn{
    display: flex;
    gap: 1vw;
    margin-top: 2vh;
}

.listen{
    padding: 1vh 1.5vw;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--main-gradient);
    gap:0.5vw;
    border-color: transparent;
    cursor: pointer;
}

.subscribe{
    padding: 1vh 2vw;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgb(11, 192, 11);
    color: rgb(8, 231, 30);
    gap:0.5vw;
    cursor: pointer;
}
